<form name="signup" action="/auth/signin" method="post">
  username: <input type="text" name="username" id="username" style="color: black"><br>
  password: <input type="password" name="password" id="password" style="color: black">
  <hr>
  <input type="submit" class="btn btn-primary btn-lg"> SIGN IN
</form>